<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asg.florafauna">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/fnf_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fnf_icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="Search Page"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Help Page"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Map Page"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".SpeciesInfoActivity"
            android:label="SpeciesInfo"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".PersonalRecordingsActivity"
            android:label="PersonalRecordings"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".FullScreenImage"
            android:label="Image Viewer">
        </activity>
    </application>
</manifest>